.country-selection-container {
    background-color: #082C34;
    padding: 2rem;
    border-radius: 10px;
}

.country-selection-left-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.country-selection-title {
    font-size: 2vw;
    padding-bottom: 2rem;
    color: #ffffff;
}

.country-selection-text {
    margin-top: 3vh;
    font-size: 1.5vw;
    width: 32vw;
    line-height: 1.5rem;
    color: #ffffff;
}

.dropdown-item {
    width: 32vw;
}