.input-blue-box {
    margin-top: 5vh;;
    background-color: #082C34;
    padding: 2rem;
    border-radius: 10px;
}

.input-box-heading {
    font-size: 2vw;
    padding-bottom: 2rem;
    color: #ffffff;
}

.input-sliders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10rem;
}

